<launch>
  <arg name="map_seed"    default="20260908"/>
  <arg name="max_vel" default="1.5"/>
  <arg name="max_acc" default="1.5"/>
  <arg name="dynamic_env" default="0"/>
  <arg name="flight_type" default="1"/>
  <arg name="use_pcd"  default="false"/>
  <arg name="map_file" default=""/>
  
  <arg name="map_resolution" default="0.1"/>
  <arg name="ctrl_pt_dist"   default="0.5"/>
  <arg name="w_time"         default="10.0"/>
  <arg name="lambda2"        default="5.0"/>
  <arg name="dist0"          default="0.4"/>
  <arg name="inflation"    default="0.099"/>
  <arg name="local_range"  default="5.5"/>
  <arg name="virtual_ceil" default="2.5"/>
  <!-- [Luan van - M4] vat can dong; dynamic_env (dong 5) giu 0 toi M6 -->
  <arg name="dyn_obs"  default="0"/>
  <arg name="dyn_num"  default="4"/>
  <arg name="dyn_x"    default="6.5"/>
  <arg name="dyn_y"    default="4.0"/>
  <arg name="dyn_vel"  default="0.8"/>
  <arg name="dyn_interval" default="2.5"/>
  <arg name="dyn_unstick" default="0.0"/>
  <arg name="dyn_seed" default="1"/>
  <!-- [Luan van - M5] bat so hang chi phi vat can dong f_d -->
  <arg name="dyn_avoid"  default="0"/>
  <arg name="lambda9"    default="5.0"/>
  <arg name="dist_dyn0"  default="0.7"/>
  <arg name="t_dyn_max"  default="2.0"/>
  <arg name="thresh_replan" default="1.5"/>
  <arg name="dyn_margin_rate" default="0.0"/>
  <arg name="dyn_static_min" default="0.2"/>

  <!-- [Luan van - M3] pha cat canh (<= 0: tat) -->
  <arg name="takeoff_height"       default="-1.0"/>
  <!-- size of map, change the size in x, y, z according to your application -->
  <arg name="map_size_x" default="15.0"/>
  <arg name="map_size_y" default="10.0"/>
  <arg name="map_size_z" default="3.0"/>
  <arg name="init_x" default="-19.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="1.0"/>

  <!-- topic of your odometry such as VIO or LIO -->
  <arg name="odom_topic" value="/state_ukf/odom" />

  <!-- main algorithm params -->
  <include file="$(find plan_manage)/launch/kino_algorithm.xml">

    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>

    <!-- camera pose: transform of camera frame in the world frame -->
    <!-- depth topic: depth image, 640x480 by default -->
    <!-- don't set cloud_topic if you already set these ones! -->
    <arg name="camera_pose_topic" value="/pcl_render_node/camera_pose"/>
    <arg name="depth_topic" value="/pcl_render_node/depth"/>

    <!-- topic of point cloud measurement, such as from LIDAR  -->
    <!-- don't set camera pose and depth, if you already set this one! -->
    <arg name="cloud_topic" value="/pcl_render_node/cloud"/>

    <!-- intrinsic params of the depth camera -->
    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>

    <!-- maximum velocity and acceleration the drone will reach -->
    <arg name="max_vel" value="$(arg max_vel)" />
    <arg name="max_acc" value="$(arg max_acc)" />

    <!-- 1: use 2D Nav Goal to select goal  -->
    <!-- 2: use global waypoints below  -->
    <arg name="flight_type" value="$(arg flight_type)" />
    
    <!-- global waypoints -->
    <!-- If flight_type is set to 2, the drone will travel these waypoints one by one -->
    <arg name="point_num" value="2" />

    <arg name="point0_x" value="19.0" />
    <arg name="point0_y" value="0.0" />
    <arg name="point0_z" value="1.0" />

    <!-- set more waypoints if you need -->
    <arg name="point1_x" value="-19.0" />
    <arg name="point1_y" value="0.0" />
    <arg name="point1_z" value="1.0" />

    <arg name="point2_x" value="0.0" />
    <arg name="point2_y" value="19.0" />
    <arg name="point2_z" value="1.0" />
    
    <arg name="map_resolution" value="$(arg map_resolution)"/>
    <arg name="ctrl_pt_dist"   value="$(arg ctrl_pt_dist)"/>
    <arg name="w_time"         value="$(arg w_time)"/>
    <arg name="lambda2"        value="$(arg lambda2)"/>
    <arg name="dist0"          value="$(arg dist0)"/>
    <arg name="inflation"    value="$(arg inflation)"/>
    <arg name="local_range"  value="$(arg local_range)"/>
    <arg name="virtual_ceil" value="$(arg virtual_ceil)"/>
    <arg name="dynamic_env"  value="$(arg dynamic_env)"/>
    <arg name="dyn_obs"      value="$(arg dyn_obs)"/>
    <arg name="dyn_num"      value="$(arg dyn_num)"/>
    <arg name="dyn_avoid"    value="$(arg dyn_avoid)"/>
    <arg name="lambda9"      value="$(arg lambda9)"/>
    <arg name="dist_dyn0"    value="$(arg dist_dyn0)"/>
    <arg name="t_dyn_max"    value="$(arg t_dyn_max)"/>
    <arg name="thresh_replan" value="$(arg thresh_replan)"/>
    <arg name="dyn_margin_rate" value="$(arg dyn_margin_rate)"/>
    <arg name="dyn_static_min" value="$(arg dyn_static_min)"/>

    <arg name="takeoff_height"       value="$(arg takeoff_height)"/>
  </include>

  <!-- trajectory server -->
  <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
    <remap from="/position_cmd" to="planning/pos_cmd"/>

    <remap from="/odom_world" to="$(arg odom_topic)"/>
    <param name="traj_server/time_forward" value="1.5" type="double"/>
  </node>

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>        
    <remap from="~goal" to="/move_base_simple/goal"/>
    <remap from="~traj_start_trigger" to="/traj_start_trigger" />
    <param name="waypoint_type" value="manual-lonely-waypoint"/>    
  </node>

  <!-- use simulator -->
  <include file="$(find plan_manage)/launch/simulator.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="c_num" value="10"/>
    <arg name="p_num" value="150"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="use_pcd"  value="$(arg use_pcd)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="dyn_obs"  value="$(arg dyn_obs)"/>
    <arg name="dyn_num"  value="$(arg dyn_num)"/>
    <arg name="dyn_x"    value="$(arg dyn_x)"/>
    <arg name="dyn_y"    value="$(arg dyn_y)"/>
    <arg name="dyn_vel"  value="$(arg dyn_vel)"/>
    <arg name="dyn_interval" value="$(arg dyn_interval)"/>
    <arg name="dyn_unstick" value="$(arg dyn_unstick)"/>
    <arg name="dyn_seed" value="$(arg dyn_seed)"/>

    <arg name="odometry_topic" value="$(arg odom_topic)" />
    <arg name="map_seed" value="$(arg map_seed)"/>
  </include>

</launch>
